header{
    padding: 30px 25px;
    background-color: var(--dark-blue-intro-email-);
}

header nav{
    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;
}

header nav img{
    width: 100px;
}

header nav ul{
    display: flex;
    flex-flow: row wrap;

    align-self: center;
    gap: 25px;
}

header nav ul li{
    float: left;
}

header nav ul li a:hover{
    text-decoration: underline;
}

@media (min-width: 426px){
    
}

@media (min-width: 769px){
    header{
        padding: 50px;
    }

    header nav img{
        width: 150px;
    }

    header nav ul{
        gap: 50px;
    }
}

