section{
    padding: 35px 30px;
    text-align: center;
}

section.intro, section.form-card{
    background-color: var(--dark-blue-intro-email-);
}

section.features, section.fill-content, section.testimonial{
    background-color: var(--dark-blue-main-bg-);
}

section.intro > *{
    margin: 12px 0;
}

section.intro img{
    width: 100%;
    object-position: center;
}

section.intro h1{
    font-size: 24px;
}

section.features{
    display: grid;
    grid-template-columns: 100%;
    gap: 100px;
}

section.features img{
    height: 75px;
    width: auto;
}

section.features h2{
    margin: 15px 0;
}

@media (min-width: 768px){
    section.intro{
        padding: 35px 25%;
    }

    section.intro button{
        padding: 0;
        width: 250px;
    }

    section.features{
        grid-template-columns: 50% 50%;
        gap: 0;
    }

    section.features > * {
        padding: 25px;
    }
}

@media (min-width: 1440px){
    section.intro{
        padding: 35px 30%;
    }

    section.features{
        padding: 35px 15%;
    }

    section.features > * {
        padding: 25px 75px;
    }
}

