section{
    padding: 35px 30px;
    text-align: center;
}

section.intro, section.form-card{
    background-color: var(--dark-blue-intro-email-);
}

section.features, section.fill-content, section.testimonial{
    background-color: var(--dark-blue-main-bg-);
}

section.intro > *{
    margin: 12px 0;
}

section.intro img{
    width: 100%;
    object-position: center;
}

section.intro h1{
    font-size: 24px;
}

section.features{
    display: grid;
    grid-template-columns: 100%;
    gap: 100px;
}

section.features img{
    height: 75px;
    width: auto;
}

section.features h2{
    margin: 15px 0;
}

section.fill-content{
    display: grid;
    grid-template-columns: 100%;

    text-align: start;
}

section.fill-content div > *{
    margin: 20px 0;
}

section.fill-content img{
    width: 100%;
}

section.fill-content div a{
    color: var(--cyan-);
    padding-bottom: 5px;
    border-bottom: 1px solid var(--cyan-);
}

section.fill-content div a img{
    height: 1em;
    width: auto;

    vertical-align: middle;
    margin-left: 5px;
}

section.testimonial{
    display: grid;
    gap: 24px;

    padding-bottom: 250px;
}

section.testimonial #quote{
    width: 25px;
    position: relative;
    left: 5px;
    bottom: -24px;
}

section.testimonial .card{
    text-align: start;

    background-color: var(--dark-blue-card-);
    border-radius: 5px;

    padding: 25px;

    line-height: 25px;
}

section.testimonial .card div{
    margin-top: 20px;
    display: grid;
    grid-template-areas: "img name"
                         "img title"
    ;
    grid-template-columns: 60px auto;
    grid-template-rows: 25px 25px;
}

section.testimonial .card div img{
    grid-area: img;
}

section.testimonial .card div h3{
    grid-area: name;
}

section.testimonial .card div h4{
    grid-area: title;

    font-size: 12px;
    font-weight: 100;
}

section.testimonial .card img{
    width: 50px;
    border-radius: 50%;
}
.card-container{
    display: flex;
    justify-content: center;

    position: absolute;
}

div.form-card{
    background-color: var(--dark-blue-intro-email-);
    padding: 20px;
    
    justify-content: center;
    text-align: center;
    width: 70%;
    border-radius: 10px;
   
    z-index: 10;
    box-shadow: 5px 5px 10px black;

    position: relative;

    top: -445px;
    left: -12px;
}

div.form-card > *{
    margin: 10px 0;
}

div.form-card h1{
    font-size: 24px;
}

div.form-card p{
    font-weight: 100;
}

div.form-card input[type="text"]{
    width: 100%;
    height: 50px;
    border-radius: 24px;

    border: none;
    outline: none;

    text-indent: 10%;
}

div.form-card button{
    width: 100%;
}

@media (min-width: 768px){
    section.intro{
        padding: 35px 25%;
    }

    section.intro button{
        padding: 0;
        width: 250px;
    }

    section.features{
        grid-template-columns: 50% 50%;
        gap: 0;
    }

    section.features > * {
        padding: 25px;
    }

    section.fill-content{
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
    }

    section.fill-content div{
        margin: auto 0;
    }

    section.fill-content img{
        width: 100%;
    }
}

@media (min-width: 1024px){
    section.testimonial{
        grid-template-columns: 0 1fr 1fr 1fr;
    }

    section.testimonial #quote{
        width: 50px;
        bottom: 25px;
    }
    
    div.form-card{
        width: 60%;
        padding: 20px 50px;
        top: -370px;
    }

    div.form-card input[type="text"]{
        display: inline;
        width: 60%;
        margin: 10px 10px;
    }
    
    div.form-card button{
        display: inline;
        width: 30%;
        margin: 10px 10px;
    }
}

@media (min-width: 1440px){
    section.intro{
        padding: 35px 30%;
    }

    section.features{
        padding: 35px 15%;
    }

    section.features > * {
        padding: 25px 75px;
    }

    div.form-card{
        left: 150px;
    }

}

